@page "/"
@inject NavigationManager _nav
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">User Name</label>
    <input type="text" class="form-control" @bind-value="UserName" id="exampleInputEmail1"
           aria-describedby="emailHelp">
</div>
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="text" class="form-control" @bind-value="Password" id="exampleInputPassword1">
</div>
<button type="button" class="btn btn-primary" @onclick="Login">Submit</button>

@code {
    private string UserName = "mgchit";
    private string Password = "123";

    private async Task Login()
    {
        var obj = new
        {
            UserName = UserName,
            Password = Password
        };
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://localhost:7127");
        var response = await client.PostAsJsonAsync("api/Login/Login", obj);
        // string jsonStr = await response.Content.ReadAsStringAsync();
        if (response.IsSuccessStatusCode)
        {
            _nav.NavigateTo("/home");
        }
    }
}