@page "/"
@inject NavigationManager _nav
@inject AuthenticationStateProvider _authStateProvider
@inject ISnackbar Snackbar
@using Blazor.Net8.Client.Models
@using SignalR.Server.Models
@implements IAsyncDisposable

<select class="form-select form-select-lg mb-3" @bind="UserType"
        aria-label="Large select example">
    <option selected>select role</option>
    <option value="User">User</option>
    <option value="Admin">Admin</option>
</select>

<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">User Name</label>
    <input type="text" class="form-control" @bind-value="UserName" id="exampleInputEmail1"
           aria-describedby="emailHelp">
</div>
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="text" class="form-control" @bind-value="Password" id="exampleInputPassword1">
</div>
<button type="button" class="btn btn-primary" @onclick="Login">Submit</button>

@code {
    private string UserName = "mgchit";
    private string Password = "123";
    private HubConnection? hubConnection;
    private string UserType { get; set; }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(_nav.ToAbsoluteUri("/chathub"))
        .Build();

        await hubConnection.StartAsync();
    }

    private async Task Login()
    {
        var loginModel = new LoginModel
            {
                UserName = UserName,
                Password = Password
            };
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("http://localhost:5090");
        var response = await client.PostAsJsonAsync("api/Login/Login", loginModel);
        string jsonStr = await response.Content.ReadAsStringAsync();
        var responseModel = JsonConvert.DeserializeObject<ServerResponseModel>(jsonStr);
        if (response.IsSuccessStatusCode)
        {
            var model = JsonConvert.DeserializeObject<LoginDataModel>(responseModel.ResponseData);
            await CreateHubConnection();
            _nav.NavigateTo("/home");
        }
    }

    private async Task CreateHubConnection()
    {
        if (hubConnection != null)
            await hubConnection.SendAsync("CreateUserConnection", model, UserType);
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}